
/******** Footer styling begins ********/

.page_wrapper .footer_container {
  display: flex;
  flex-direction: column;
  margin-top: 9.8rem;
  row-gap: 4.5rem;
}

.footer_container .footer {
  display: flex;
}

.footer .first {
  display: flex;
  flex: 40%;
  flex-direction: column;
  padding: 0em 5em;
  row-gap: 1.65em;
}

.footer .first .title :nth-child(2) {
  margin-left: 3px;
  width: 132px;
}

.footer .first p {
  color: #afafaf;
  font-size: 1.25em;
  line-height: 23px;
  margin-top: 1px;
  width: 90%;
  word-spacing: 0.5px;
}

.footer .first .caption {
  font-size: 1.5em;
  margin-top: 3px;
}

.footer .first .handles {
  column-gap: 2.5em;
  display: flex;
  margin: 1px 0 0 2px;
}

.footer .handles div {
  border: 1px solid orangered;
  border-radius: 50%;
  display: grid;
  place-content: center;
  width: 40px;
  height:40px;
}

.footer .handles div:hover {
  cursor: pointer;
  opacity: 0.7;
}

.footer .handles img {
  height: 100%;
  object-fit: contain;
  width: 100%;
}

.footer .second,
.footer .third,
.footer .fourth {
  display: flex;
  flex: 15%;
  flex-direction: column;
  padding: 1.6em 1.15em;
  row-gap: 2.4em;
}

.footer :not(:first-child) :nth-child(1) {
  font-size: 1.4em;
  word-spacing: 2px;
}

.footer :not(:first-child) :not(:first-child) {
  color: #afafaf;
  font-size: 1.25em;
}

.footer .third {
  flex: 15%;
  padding-left: 2.4em;
}

.footer .fourth {
  flex: 30%;
  padding-left: 9em;
  row-gap: 1px;
}

.footer .fourth :nth-child(2) {
  margin-top: -0.95em;
}

.footer .fourth div {
  height: 50px;
  width: 160px;
}

.footer .fourth img {
  height: 100%;
  object-fit: contain;
  width: 100%;
}

.footer .fourth .spotify {
  width: 100px;
}

.footer_container .divider {
  background-color: #efefef;
  height: 1px;
  margin: 3px 5em 0 5em;
}

.footer_container .copyright {
  color: #afafaf;
  font-size: 1.2em;
  margin-left: -7px;
  margin-top: 3px;
  text-align: center;
  word-spacing: 2px;
}