
/********  Header stylign begins ********/

.page_wrapper .header {
  background-color: whitesmoke;
  column-gap: 3rem;
  display: flex;
  font-size: 1rem;
  margin-right: -14rem;
  z-index: 100;
}

.header .left {
  display: flex;
  flex-basis: 64%;
  flex-direction: column;
  margin-top: 11.1em;
  row-gap: 1.9em;
}

.left .caption .dash {
  background-color: orangered;
  display: inline-block;
  height: 1px;
  vertical-align: middle;
  width: 22px;
}

.left .caption {
  color: orangered;
  letter-spacing: 1px;
  word-spacing: 2px;
}

.left .heading {
  font-size: 4.67em;
  font-weight: bold;
}

.left p {
  font-size: 1.405em;
  margin-top: 5px;
  max-width: 80%;
  line-height: 22px;
  word-spacing: 1px;
}

.left span {
  background-color: orangered;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  font-size: 1.1em;
  letter-spacing: 0.5px;
  margin-top: 1.8em;
  padding: 1.2em 2.8em;
  position: relative;
  width:max-content;
}

.left span::before {
  background-color: whitesmoke;
  border: 1px solid orangered;
  border-radius: 2px;
  content: "Explore";
  display: grid;
  font-size: 1.1em;
  inset: 0;
  place-content: center;
  position: absolute;
  transform: scaleY(0);
  -moz-transform: scaleY(0);
  -webkit-transform: scaleY(0);
  transform-origin: top;
  -moz-transform-origin: top;
  -webkit-transform-origin: top;
  transition: transform 250ms, box-shadow 1000ms linear 100ms,
    color 250ms linear 250ms;
    -moz-transition: transform 250ms, box-shadow 1000ms linear 100ms,
    color 250ms linear 250ms;
    -webkit-transition: transform 250ms, box-shadow 1000ms linear 100ms,
    color 250ms linear 250ms;
}

.left span:hover::before {
  background-color: whitesmoke;
  box-shadow: 0px 0px 30px 5px orangered;
  color: orangered;
  transform: scaleY(1);
  -moz-transform: scaleY(1);
  -webkit-transform: scaleY(1);
  transform-origin: top;
  -moz-transform-origin: top;
  -webkit-transform-origin: top;
}

.header .right {
  object-fit: fill;
}

.header .right img {
  height: 100%;
  position: relative;
  transform: scale(1.05);
  top: 1%;
  width: 100%;
}