
/******** Subscription section styling begins ********/

.page_wrapper .subscription {
  display: flex;
  flex-direction: column;
  margin-top: 10.8rem;
  row-gap: 2.5rem;
}

.subscription .title {
  font-size: 2.9em;
  font-weight: bolder;
  text-align: center;
  text-decoration: underline;
}

.subscription p {
  color: #9c9c9c;
  font-size: 1.13em;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 20px;
  padding: 0 27em;
  text-align: center;
}

.subscription .subscribe {
  align-items: center;
  display: flex;
  height: 53px;
  margin-top: -2px;
  padding: 0 27em;
}

.subscription .subscribe input[type="email"] {
  all: unset;
  background-color: #f5f5f5;
  border-radius: 3px;
  font-size: 1.25em;
  height: 100%;
  padding: 0 2.1em;
  width: 71.5%;
}

.subscription .subscribe input[type="email"]::placeholder {
  color: #cacaca;
}

.subscription .subscribe .btn {
  align-items: center;
  background-color: orangered;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 1.25em;
  height: 100%;
  justify-content: center;
  transition: transform 250ms;
  width: 28.5%;
}

.subscription .subscribe .btn:hover {
  transform: scale(1.1);
}
